body{
    background-color: rgb(248, 255, 254);
    padding-left: 50px;
    font-size: 20px;
    font-family: 'Gentium Plus', serif;
}
.bl{
    font-size: 20px;
    font-family: 'Gentium Plus', serif;
}
.div{
    padding-right:200px ;
}
.objective{
    padding-left: 100px;
    font-size: 20px;
    font-family: 'Gentium Plus', serif;
    padding-bottom: 20px;
}
table{
    padding-left: 100px;
}
.tablediv{
    padding-bottom: 20px;
}
hr{
    border-style: none ;
    border-top-style: dotted;
    width: 5%;
    border-color: rgb(240, 240, 240);
    border-width: 5px;
}
h2, h1{
    color: rgba(0, 198, 201, 0.784);
}
